*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body{
  background-color: black;
}

.container{
  max-width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.container header{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header img{
  height: 50%;
}

header nav{
  display: flex;
  align-items: center;
}

nav input{
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
}

nav i{
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  color: white;
}

.container main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main .content-box{
  padding: 20px 0;
}

.content-box .img-container{
  width: 342px;
  height: 513px;
  position: relative;
}

#img-found{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#img-not-found{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
}

.img-container .layer{
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.95);
  display: none;
  border: 3px solid white;
}

.img-container:hover .layer{
  display: block;
}

.layer p{
  line-height: 1.6;
  padding: 5px 0;
}

#overview{
  max-height: 40%;
  overflow-y: hidden;
}

.star{
  color: gold;
}

.layer img{
  display: inline-block;
  height: 15px;
  margin: 10px;
  vertical-align: middle;
}